<p><%= @counter %></p>

<div>
  <% @recipes.each do |recipe| %>
    <div>
      <div>
     "Type of recipe: "  <%= recipe.title %><br>
      <%="recipe ingredents: $" + recipe.ingredients %><br>
      <%="stemps: " + recipe.directions %><br>
      </div>
    </div>
  <% end %>
</div>
